<div id="npcs">
		<h3><%=@mob.name%></h3> 
		<div class="npc-image">
			<%=image_tag(@mob.icon_url)%>
			<div class="npc-cost">
				<div title="ap points"><img src="/img/ap-text.png"/><%=@mob.ap%></div>
				<div title="mp points"><img src="/img/mp-text.png"/><%=@mob.mp%></div>
				<div title="Wakfu points"><img src="/img/wakfu-text.png"/><%=@mob.wp%>0</div>
			</div>
		</div>
		
		<div class="npc-stats">
		<h4><font color="white"> 等级 <%=@mob.level%></font>
				<%if @mob.capture_flag%>
				 <img class="tameable" src="/img/tameable1.png"/>
				<%else%>
				 <img class="tameable" src="/img/tameable0.png"/>
				<%end%>
			</h4>
			<div class="stats-col three4"><img src="/img/hp-text.png"/>生命值</div>
			<div class="stats-col one4"><%=@mob.hp%></div>
			
			<div class="stats-col three4"><img src="/img/init-text.png"/>先手</div>
			<div class="stats-col one4"><%=@mob.init%></div>
			
			<div class="stats-col three4"><img src="/img/lock-text.png"/>锁定</div>
			<div class="stats-col one4"><%=@mob.lock%></div>
			
			<div class="stats-col three4"><img src="/img/dodge-text.png"/>闪避</div>
			<div class="stats-col one4"><%=@mob.dodge%></div>
			
			<div class="stats-col three4"><img src="/img/block-text.png"/>锁定</div>
			<div class="stats-col one4"><%=@mob.block%></div>
			
			<div class="stats-col three4"><img src="/img/crit-text.png"/>暴击</div>
			<div class="stats-col one4"><%=@mob.crit%></div>
			
			
			<div class="clear"></div>
		</div>
		<div class="npc-stats">
		<h4><font color="white">伤害&抗性</font></h4>
			<div class="stats-col three4"><img src="/img/earthDefense.png"/>地系抗性</div>
			<div class="stats-col one4"><%=@mob.earth_resist%>%</div>
			<div class="stats-col three4"><img src="/img/earthDamage.png" width="16px" height="16px"/>地系伤害</div>
			<div class="stats-col one4"><%=@mob.earth_damage%>%</div>
			
			<div class="stats-col three4"><img src="/img/fireDefense.png"/>火系抗性</div>
			<div class="stats-col one4"><%=@mob.fire_resist%>%</div>
			<div class="stats-col three4"><img src="/img/fireDamage.png" width="16px" height="16px"/>火系伤害</div>
			<div class="stats-col one4"><%=@mob.fire_damage%>%</div>
			
			<div class="stats-col three4"><img src="/img/waterDefense.png"/>水系抗性</div>
			<div class="stats-col one4"><%=@mob.water_resist%>%</div>
			<div class="stats-col three4"><img src="/img/waterDamage.png" width="16px" height="16px"/>水系伤害</div>
			<div class="stats-col one4"><%=@mob.water_damage%>%</div>
			
			<div class="stats-col three4"><img src="/img/airDefense.png"/>风系抗性</div>
			<div class="stats-col one4"><%=@mob.air_resist%>%</div>
			<div class="stats-col three4"><img src="/img/airDamage.png" width="16px" height="16px"/>风地系伤害</div>
			<div class="stats-col one4"><%=@mob.air_damage%>%</div>
		</div>
		
</div>

<div>
	<ul  class="nav nav-tabs">
		<li><a href="#comments" data-toggle="tab">评论</a></li>
		<li  class="active"><a href="#itemdrops" data-toggle="tab">掉落道具</a></li>
	</ul>
 	<div id="myTabContent" class="tab-content">
      <div class="tab-pane fade " id="comments">

      </div>
      <div class="tab-pane fade in active" id="itemdrops">
				<table class="table" >
					<thead>
						<th scope="col" class='item_icon round-tl'>图标</td>
						<th scope="col" class='item_name'>道具名称</th>
						<th scope="col" class='item_name'>掉率</th>
						<th scope="col" class='item_name'>勘探锁</th>
						<th scope="col" class='item_lvl'>道具等级</th>
					</thead>
					<tbody>
						<%@mob.drop_items.each do |item|%>
						<tr>
							<td>
								<%=link_to item.item do%>
								
								<%=image_tag item.item.icon_url,:class=>"ihover itemImgLarge",:height=>"46"%>

								<%end%>
							</td>
							<td class="item_name"><%=link_to item.item.name,item.item%></td>
							<td><%=item.rate%>%</td>
							<td><%=item.lock%></td>
							<td class="item_lvl">等级<%=item.item.level%></td>
						</tr>
						<%end%>
					</tbody>
				</table>
      </div>
   </div>
</div>