<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        查询道具
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse ">
      <div class="accordion-inner">
	
				<%= search_form_for(@q,url: search_path,:html=>{:class=>"form-horizontal"} ) do |f| %>
				  <div class="control-group">
				    <label class="control-label" for="inputEmail">等级范围</label>
				    <div class="controls">
				     	<label class="checkbox inline">
							  <%= f.text_field :level_gteq,:class=>"input-mini"%> 
							</label>
							~
							<label class="checkbox inline">
							  <%= f.text_field :level_lteq,:class=>"input-mini" %>
							</label>

				    </div>
				  </div>
					 <div class="control-group">
					    <label class="control-label" for="inputEmail">物品种类</label>
					    <div class="controls">
					     	<label class="checkbox inline">
								  <%= f.select :item_type_id_eq,options_from_collection_for_select(ItemType.all,"id","chinese_name"),:include_blank=>true %>
								</label>
							</div>
					</div>
				  <div class="control-group">
				    <label class="control-label" for="inputEmail">装备效果</label>
				    <div class="controls">
				     	<label class="checkbox inline">
							  <%= f.check_box :item_detail_hp_present %>生命值
							</label>
							<label class="checkbox inline">
							  <%= f.check_box :item_detail_ap_present %>行动力
							</label>
							<label class="checkbox inline">
							  <%= f.check_box :item_detail_mp_present %>移动力
							</label>
							<label class="checkbox inline">
							  <%= f.check_box :item_detail_wp_present %>创生力
							</label>
							<label class="checkbox inline">
							  <%= f.check_box :item_detail_control_present %>统率
							</label>
							<label class="checkbox inline">
							  <%= f.check_box :item_detail_initiative_present %>先手
							</label>
							<label class="checkbox inline">
							  <%= f.check_box :item_detail_wisdom_present %>悟性
							</label>
							<label class="checkbox inline">
							  <%= f.check_box :item_detail_prospecting_present %>勘探
							</label>
				    </div>
				  </div>
				  <div class="control-group">
				    <label class="control-label" for="inputEmail"></label>
				    <div class="controls">
				     	<label class="checkbox inline">
							  <%= f.check_box :item_detail_dodge_present %>闪避
							</label>
							<label class="checkbox inline">
							  <%= f.check_box :item_detail_lock_present %>锁定
							</label>
							<label class="checkbox inline">
							  <%= f.check_box :item_detail_backstab_present %>背刺
							</label>
							<label class="checkbox inline">
							  <%= f.check_box :item_detail_cmc_present %>召唤物伤害
							</label>
							<label class="checkbox inline">
							  <%= f.check_box :item_detail_crit_damage_present %>暴击伤害
							</label>
							<label class="checkbox inline">
							  <%= f.check_box :item_detail_critical_present %>暴击几率
							</label>
							<label class="checkbox inline">
							  <%= f.check_box :item_detail_heals_present %>治疗
							</label>
							<label class="checkbox inline">
							  <%= f.check_box :item_detail_block_present %>格挡
							</label>
				    </div>
				  </div>
				  <div class="control-group">
				    <label class="control-label" for="inputEmail">属性伤害加成</label>
				    <div class="controls">
				     	<label class="checkbox inline">
							  <%= f.check_box :item_detail_earth_damage_present %><%= image_tag("/img/elements/smallEARTH.png")%>地系
							</label>
							<label class="checkbox inline">
							  <%= f.check_box :item_detail_fire_damage_present %><%= image_tag("/img/elements/smallFIRE.png")%>火系
							</label>
							<label class="checkbox inline">
							  <%= f.check_box :item_detail_water_damage_present %><%= image_tag("/img/elements/smallWATER.png")%>水系
							</label>
							<label class="checkbox inline">
							  <%= f.check_box :item_detail_air_damage_present %><%= image_tag("/img/elements/smallAIR.png")%>
								风系
							</label>
				    </div>
				  </div>
				  <%= f.submit "查询",:class=>"btn" %>
				<% end %>
      </div>
    </div>
  </div>