<h1 class="offset3">欢迎使用爱沃土中文数据库</h1>
<br/>
<div class="offset2 span8">
	<div class="row">
		<%= search_form_for(@q,url: search_path,:html=>{:class=>"form-search"} ) do |f| %>
			<%= f.text_field :item_name_cont,:placeholder=>"输入需要查找物品名称",:class=>"input-xxlarge search-query" %>	  
		  <button type="submit" class="btn">查询</button>
		<%end%>
	</div>
	<div class="row">
	
	<div class="accordion" id="accordion2">
	  <div class="accordion-group">
	    <div class="accordion-heading">
	      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
	        高级查询
	      </a>
	    </div>
	    <div id="collapseOne" class="accordion-body collapse ">
	      <div class="accordion-inner">
		
					<%= search_form_for(@q,url: search_path,:html=>{:class=>"form-horizontal"} ) do |f| %>
					  <div class="control-group">
					    <label class="control-label" for="inputEmail">装备效果</label>
					    <div class="controls">
					     	<label class="checkbox inline">
								  <%= f.check_box :hp_present %>生命值
								</label>
								<label class="checkbox inline">
								  <%= f.check_box :ap_present %>行动力
								</label>
								<label class="checkbox inline">
								  <%= f.check_box :mp_present %>移动力
								</label>
								<label class="checkbox inline">
								  <%= f.check_box :wp_present %>创生力
								</label>
								<label class="checkbox inline">
								  <%= f.check_box :control_present %>统率
								</label>
					    </div>
					  </div>
					  <div class="control-group">
					    <label class="control-label" for="inputEmail">属性伤害加成</label>
					    <div class="controls">
					     	<label class="checkbox inline">
								  <%= f.check_box :earth_damage_present %>地系
								</label>
								<label class="checkbox inline">
								  <%= f.check_box :fire_damage_present %>火系
								</label>
								<label class="checkbox inline">
								  <%= f.check_box :water_damage_present %>水系
								</label>
								<label class="checkbox inline">
								  <%= f.check_box :air_damage_present %>风系
								</label>
					    </div>
					  </div>
					  <%= f.submit "查询",:class=>"btn" %>
					<% end %>
	      </div>
	    </div>
	  </div>
	</div>
	</div>
</div>