<div class="row-fluid">
<div class="itemWrapper">
	<h3><%=@item.name%></h3>
	
		<div class="itemBox span6">
			<div class="itemUpperName">
				<span class="<%=@item.quanlity%>"><%=@item.name%></span>
				
			</div>
			<div class="itemImgLarge">
				<%=image_tag @item.icon%>
			</div>
			<div class="itemImgAttr">
				<div class="clear"></div>
			</div>
			<div class="itemLevel">
				等级 <%=@item.level%>
			</div>
			<div class="itemUsageRules">
				<%if @item.action_point%>
					<span><%=@item.action_point%><%=image_tag("/img/ap-text.png")%></span>
				<%end%>
				<%if @item.min_range%>
					<span><%=@item.min_range%>-<%=@item.min_range%>
					<%=image_tag("/img/range-text.png")%></span>
				<%end%>
			</div>
			<div class="itemCapacity">
			</div>
			<div class="itemGems">
						<%@item.slot.to_i.times do%>
							<%=image_tag("/img/gemSquare.png")%>
						<%end%>
			</div>
			<div class="clear"></div>
			<div class="description">
				<%=@item.content%>
			</div>
			<%=render 'item_stats'%>
	</div>
	<div class="span6">
	<div id="itemInfoFacts">
	<h3>物品信息</h3>
		<ul class="itemFacts">
			<li><span class="factTitle">类型</span> : <%=@item.item_type.chinese_name if @item.item_type%></li>
			<%if @item.item_set%>
			<li><span class="factTitle">套装</span> : <%=link_to @item.item_set.chinese_name,@item.item_set%></li>
			<%end%>
		</ul>
		
		
		<%if @item.item_type.chinese_name == "戒指" %>
			<%= link_to '左手戒指',add_item_item_build_path(current_build,:item_id =>@item,:side=>:left),:remote=>true,:class=>"btn btn-primary"%>
			<%= link_to '右手戒指',add_item_item_build_path(current_build,:item_id =>@item,:side=>:right),:remote=>true,:class=>"btn btn-primary"%>
		<%elsif ["斧","斧子","魔杖","单手剑","铲","匕首","单手杖","锤子","针","弓","双手剑","双手杖","卡牌","盾牌"].include?@item.item_type.chinese_name%>
			<%= link_to '左手武器',add_item_item_build_path(current_build,:item_id =>@item,:side=>:left),:remote=>true,:class=>"btn btn-primary"%>
			<%= link_to '右手武器',add_item_item_build_path(current_build,:item_id =>@item,:side=>:right),:remote=>true,:class=>"btn btn-primary"%>
		<%else%>
		<%= link_to '添加装备',add_item_item_build_path(current_build,:item_id =>@item),:remote=>true,:class=>"btn btn-primary"%>
		<%end%>
	</div>
	</div>
	
</div>


</div>

<div class="row">
	<ul  class="nav nav-tabs">
		<li ><a href="#comments" data-toggle="tab">评论</a></li>
		<li class="active"><a href="#itemdrops" data-toggle="tab">怪物掉落</a></li>
		<li ><a href="#trapper" data-toggle="tab">畜牧掉落</a></li>
		<li ><a href="#recipe" data-toggle="tab">制作配方</a></li>
		<li ><a href="#resource" data-toggle="tab">作为材料</a></li>
		
	</ul>
 	<div id="myTabContent" class="tab-content">
      <div class="tab-pane fade " id="comments">
				<div id="uyan_frame"></div>
				<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=1904534"></script>
      </div>
      <div class="tab-pane fade in active" id="itemdrops">
				<table class="table" >
					<thead>
						<th scope="col" class='item_icon round-tl'>图标</td>
						<th scope="col" class='item_name'>怪物名称</th>
						<th scope="col" class='item_lvl'>怪物等级</th>
						
						<th scope="col" class='item_name'>掉率</th>
						<th scope="col" class='item_name'>勘探锁</th>
					</thead>
					<tbody>
						<%@item.drop_items.each do |item|%>
						<tr>
							<td>
								<%=link_to item.mob do%>
								<%=image_tag item.mob.icon_url,:class=>"ihover itemImgLarge",:height=>"46",:width=>"100"%>
								<%end%>
							</td>
							<td class="item_name"><%=link_to item.mob.name,item.mob%></td>
							<td class="item_lvl">等级<%=item.mob.level%></td>
							
							<td><%=item.rate%>%</td>
							<td><%=item.lock%></td>
						</tr>
						<%end%>
					</tbody>
				</table>
      </div>


			 <div class="tab-pane fade " id="trapper">
						<table class="table" >
							<thead>
								<th scope="col" class='item_icon round-tl'>图标</td>
								<th scope="col" class='item_name'>道具名称</th>
								<th scope="col" class='item_name'>要求技能</th>
								<th scope="col" class='item_name'>要求等级</th>
							</thead>
							<tbody>
								<%@item.trapper_items.each do |item|%>
								<tr>
									<td>
										<%=link_to item.mob do%>

										<%=image_tag item.mob.icon_url,:class=>"ihover itemImgLarge",:height=>"46",:width=>"100"%>

										<%end%>
									</td>
									<td class="item_name"><%=link_to item.mob.name,item.mob%></td>
									<td>畜牧</td>
									<td>至少<%=item.level%>级</td>
								</tr>
								<%end%>
							</tbody>
						</table>
	      </div>
			 <div class="tab-pane fade " id="recipe">
					<table class="table" >
						<thead>
							<th scope="col" class='item_icon round-tl'>图标</td>
							<th scope="col" class='item_name'>道具名称</th>
							<th scope="col" class='item_name'>要求技能</th>
							<th scope="col" class='item_name'>材料</th>
						</thead>
						<tbody>
							<%@item.recipes.each do |recipe|%>
							<tr>
								<td>
									<%=link_to recipe.item,:class=>recipe.item.quanlity do%>

									<%=image_tag recipe.item.icon_url,:class=>"ihover itemImgLarge",:height=>"46",:width=>"50"%>

									<%end%>
								</td>
								<td class="item_name"><%=link_to recipe.item.name,recipe.name%></td>
								<td><%=recipe.skill%>:等级<%=recipe.level%></td>
								<td>
									<%recipe.recipe_items.each do |item|%>
									<div class="row-fluid" >
									<%=link_to item.item,:class=>item.item.quanlity  do%>
									<%=image_tag(item.item.icon,:class=>"itemImgSmall",:width=>"30px")%><%= item.item.name%></a> x<%= item.quantity%>
									<%end%>
									</div>
									<%end%>
								
								</td>
							</tr>
							<%end%>
						</tbody>
					</table>
			 </div>
			 <div class="tab-pane fade " id="resource">
								<table class="table" >
									<thead>
										<th scope="col" class='item_icon round-tl'>图标</td>
										<th scope="col" class='item_name'>道具名称</th>
										<th scope="col" class='item_name'>要求技能</th>
										<th scope="col" class='item_name'>材料</th>
									</thead>
									<tbody>
							<%@item.recipe_items.each do |recipe_item|%>
							<%recipe=recipe_item.recipe%>
							<tr>
								<td>
									<%=link_to recipe.item do%>

									<%=image_tag recipe.item.icon_url,:class=>"ihover itemImgLarge",:height=>"46",:width=>"50"%>

									<%end%>
								</td>
								<td class="item_name"><%=link_to recipe.item.name,recipe.item,:class=>recipe.item.quanlity%></td>
								<td><%=recipe.skill%>:等级<%=recipe.level%></td>
								<td>
									<%recipe.recipe_items.each do |item|%>
									<div class="row-fluid" >
									<%=link_to item.item ,:class=>item.item.quanlity do%>
									<%=image_tag(item.item.icon,:class=>"itemImgSmall",:width=>"30px")%><%= item.item.name%></a> x<%= item.quantity%>
									<%end%>
									
									</div>
									<%end%>
								
								</td>
							</tr>
							<%end%>
						</tbody>
					</table>
				
				
			 </div>
   </div>
</div>