<div class="row">
<div class="itemWrapper">
	<h3><%=@item.name%></h3>
		<div class="itemBox">
			<div class="itemUpperName">
				<span class="<%=@item.quanlity%>"><%=@item.name%></span>
				
			</div>
			<div class="itemImgLarge">
				<%=image_tag @item.icon%>
			</div>
			<div class="itemImgAttr">
				<div class="clear"></div>
			</div>
			<div class="itemLevel">
				等级 <%=@item.level%>
			</div>
			<div class="itemUsageRules">
				<%if @item.action_point%>
					<span><%=@item.action_point%><%=image_tag("/img/ap-text.png")%></span>
				<%end%>
				<%if @item.min_range%>
					<span><%=@item.min_range%>-<%=@item.min_range%>
					<%=image_tag("/img/range-text.png")%></span>
				<%end%>
			</div>
			<div class="itemCapacity">
			</div>
			<div class="itemGems">
						<%@item.slot.to_i.times do%>
							<%=image_tag("/img/gemSquare.png")%>
						<%end%>
				</div>
			<div class="clear"></div>
			<div class="description">
				<%=@item.content%>
			</div>
		
			<%=render 'item_stats'%>

			
	</div>

	<div id="itemInfoFacts">
	<h3>物品信息</h3>
		<ul class="itemFacts">
			<li><span class="factTitle">First seen</span> in patch .307</li>
			<li><span class="factTitle">类型</span> : <%=@item.item_type.chinese_name if @item.item_type%></li>
		</ul>
	</div>
</div>

</div>

<div class="row">
	<ul  class="nav nav-tabs">
		<li ><a href="#comments" data-toggle="tab">评论</a></li>
		<li class="active"><a href="#itemdrops" data-toggle="tab">怪物掉落</a></li>
		<li ><a href="#trapper" data-toggle="tab">畜牧掉落</a></li>
		
	</ul>
 	<div id="myTabContent" class="tab-content">
      <div class="tab-pane fade " id="comments">

      </div>
      <div class="tab-pane fade in active" id="itemdrops">
				<table class="table" >
					<thead>
						<th scope="col" class='item_icon round-tl'>图标</td>
						<th scope="col" class='item_name'>怪物名称</th>
						<th scope="col" class='item_lvl'>怪物等级</th>
						
						<th scope="col" class='item_name'>掉率</th>
						<th scope="col" class='item_name'>勘探锁</th>
					</thead>
					<tbody>
						<%@item.drop_items.each do |item|%>
						<tr>
							<td>
								<%=link_to item.mob do%>
								<%=image_tag item.mob.icon_url,:class=>"ihover itemImgLarge",:height=>"46",:width=>"100"%>
								<%end%>
							</td>
							<td class="item_name"><%=link_to item.mob.name,item.mob%></td>
							<td class="item_lvl">等级<%=item.mob.level%></td>
							
							<td><%=item.rate%>%</td>
							<td><%=item.lock%></td>
						</tr>
						<%end%>
					</tbody>
				</table>
      </div>


			 <div class="tab-pane fade " id="trapper">
						<table class="table" >
							<thead>
								<th scope="col" class='item_icon round-tl'>图标</td>
								<th scope="col" class='item_name'>道具名称</th>
								<th scope="col" class='item_name'>要求技能</th>
								<th scope="col" class='item_name'>要求等级</th>
							</thead>
							<tbody>
								<%@item.trapper_items.each do |item|%>
								<tr>
									<td>
										<%=link_to item.mob do%>

										<%=image_tag item.mob.icon_url,:class=>"ihover itemImgLarge",:height=>"46",:width=>"100"%>

										<%end%>
									</td>
									<td class="item_name"><%=link_to item.mob.name,item.mob%></td>
									<td>畜牧</td>
									<td>至少<%=item.level%>级</td>
								</tr>
								<%end%>
							</tbody>
						</table>
	      </div>
   </div>
</div>