<ul class="no_dom">

<%if item_detail.hp != 0%>
<li>生命值:<%=item_detail.hp%></li>
<%end%>
<%if item_detail.ap != 0%>
<li>行动力:<%=item_detail.ap%></li>
<%end%>
<%if item_detail.mp != 0%>
<li>移动力:<%=item_detail.mp%></li>
<%end%>
<%if item_detail.wp != 0%>
<li>创生力:<%=item_detail.wp%></li>
<%end%>

<%if item_detail.initiative != 0%>
<li>先手:<%=item_detail.initiative%></li>
<%end%>
<%if item_detail.dodge != 0%>
<li>闪避:<%=item_detail.dodge%></li>
<%end%>
<%if item_detail.lock != 0%>
<li>锁定:<%=item_detail.lock%></li>
<%end%>
<%if item_detail.backstab != 0%>
<li>背刺伤害:<%=item_detail.backstab%></li>
<%end%>


<%if item_detail.critical != 0%>
<li>暴击几率:<%=item_detail.critical%>%</li>
<%end%>
<%if item_detail.block != 0%>
<li>格挡:<%=item_detail.block%></li>
<%end%>
<%if item_detail.control != 0%>
<li>统帅:<%=item_detail.control%></li>
<%end%>

<%if item_detail.cmc != 0%>
<li>召唤物伤害:<%=item_detail.cmc%>%</li>
<%end%>

<%if item_detail.will_power != 0%>
<li>意志力:<%=item_detail.will_power%></li>
<%end%>

<%if item_detail.prospecting != 0%>
<li>勘探:<%=item_detail.prospecting%></li>
<%end%>

<%if item_detail.perception != 0%>
<li>洞察:<%=item_detail.perception%></li>
<%end%>

<%if item_detail.heals != 0%>
<li>治疗:<%=item_detail.heals%></li>
<%end%>
<%if item_detail.wisdom != 0%>
<li>悟性:<%=item_detail.wisdom%></li>
<%end%>
<%if item_detail.range != 0%>
<li>射程:<%=item_detail.range%></li>
<%end%>

<%if item_detail.fire != 0%>
<li>智慧之火:<%=item_detail.fire%></li>
<%end%>
<%if item_detail.earth != 0%>
<li>稳固之地:<%=item_detail.earth%></li>
<%end%>
<%if item_detail.water != 0%>
<li>幸运之水:<%=item_detail.water%></li>
<%end%>
<%if item_detail.air != 0%>
<li>敏捷之风:<%=item_detail.air%></li>
<%end%>




<%if item_detail.remove_ap != 0%>
<li>剥夺行动力:<%=item_detail.remove_ap%>%</li>
<%end%>

<%if item_detail.fire_damage != 0%>
<li>
	<%= image_tag("/img/elements/smallFIRE.png")%>
	火系伤害:<%=item_detail.fire_damage%>%</li>
<%end%>

<%if item_detail.earth_damage != 0%>
<li>
	<%= image_tag("/img/elements/smallEARTH.png")%>
	地系伤害:<%=item_detail.earth_damage%>%</li>
<%end%>

<%if item_detail.water_damage != 0%>
<li>
	<%= image_tag("/img/elements/smallWATER.png")%>
	水系伤害:<%=item_detail.water_damage%>%</li>
<%end%>
<%if item_detail.air_damage != 0%>
<li>
	<%= image_tag("/img/elements/smallAIR.png")%>
	风系伤害:<%=item_detail.air_damage%>%</li>
<%end%>


<%if item_detail.fire_resist != 0%>
<li>
	<%= image_tag("/img/elements/smallFIRE.png")%>
	火系抵抗:<%=item_detail.fire_resist%>%</li>
<%end%>

<%if item_detail.earth_resist != 0%>
<li>
	<%= image_tag("/img/elements/smallEARTH.png")%>
	地系抵抗:<%=item_detail.earth_resist%>%</li>
<%end%>

<%if item_detail.water_resist != 0%>
<li>
	<%= image_tag("/img/elements/smallWATER.png")%>
	水系抵抗:<%=item_detail.water_resist%>%</li>
<%end%>
<%if item_detail.air_resist != 0%>
<li>
	<%= image_tag("/img/elements/smallAIR.png")%>
	风系抵抗:<%=item_detail.air_resist%>%</li>
<%end%>


<%if item_detail.fire_skill != 0%>
<li>
	<%= image_tag("/img/elements/smallFIRE.png")%>
	火系技能等级:<%=item_detail.fire_skill%></li>
<%end%>

<%if item_detail.earth_skill != 0%>
<li>
	<%= image_tag("/img/elements/smallEARTH.png")%>
	地系技能等级:<%=item_detail.earth_skill%></li>
<%end%>

<%if item_detail.water_skill != 0%>
<li>
	<%= image_tag("/img/elements/smallWATER.png")%>
	水系技能等级:<%=item_detail.water_skill%></li>
<%end%>
<%if item_detail.air_skill != 0%>
<li>
	<%= image_tag("/img/elements/smallAIR.png")%>
	风系技能等级:<%=item_detail.air_skill%></li>
<%end%>
</ul>