<div class='row'>

	<div class="span6">
		<table class="table">
			<tr>
				<td>部位</td>
				<td>图片</td>
				<td>名称</td>
				<td>等级</td>
				<td>属性</td>
				<td>套装</td>
				<td></td>
				
			</tr>
			<tr>
				<td>头部</td>
				<td><%=image_tag(@item_build.header.try(:icon))%>
				</td>
				<td><%=link_to @item_build.header.try(:name),@item_build.header if @item_build.header%></td>
				<td><%=@item_build.header.try(:level)%></td>
				<td><%=render 'item_stat',:@item=>@item_build.header%></td>
				<td><%=@item_build.header.try(:item_set).try(:name)%></td>
				<td><%=link_to "删除",remove_item_item_build_path(@item_build,:part=>:header)%></td>
				
			</tr>
			<tr>
				<td>颈部</td>
				<td><%=image_tag(@item_build.neck.try(:icon))%>
				</td>
				<td><%=link_to @item_build.neck.try(:name),@item_build.neck if @item_build.neck%></td>
				<td><%=@item_build.neck.try(:level)%></td>
				<td><%=render 'item_stat',:@item=>@item_build.neck%></td>
				<td><%=@item_build.neck.try(:item_set).try(:name)%></td>
				<td><%=link_to "删除",remove_item_item_build_path(@item_build,:part=>:neck)%></td>
				
			</tr>
			<tr>
				<td>肩膀</td>
				<td><%=image_tag(@item_build.shoulder.try(:icon))%>
				</td>
				<td><%=link_to @item_build.shoulder.try(:name),@item_build.shoulder if @item_build.shoulder%></td>
				<td><%=@item_build.shoulder.try(:level)%></td>
				<td><%=render 'item_stat',:@item=>@item_build.shoulder%></td>
				<td><%=@item_build.shoulder.try(:item_set).try(:name)%></td>
				<td><%=link_to "删除",remove_item_item_build_path(@item_build,:part=>:shoulder)%></td>
				
			</tr>
			<tr>
				<td>胸部</td>
				<td><%=image_tag(@item_build.body.try(:icon))%>
				</td>
				<td><%=link_to @item_build.body.try(:name),@item_build.body if @item_build.body %></td>
				<td><%=@item_build.body.try(:level)%></td>
				<td><%=render 'item_stat',:@item=>@item_build.body%></td>
				<td><%=@item_build.body.try(:item_set).try(:name)%></td>
				<td><%=link_to "删除",remove_item_item_build_path(@item_build,:part=>:body)%></td>
				
			</tr>
			<tr>
				<td>腰带</td>
				<td><%=image_tag(@item_build.belt.try(:icon))%>
				</td>
				<td><%=link_to @item_build.belt.try(:name),@item_build.belt if @item_build.belt%></td>
				<td><%=@item_build.belt.try(:level)%></td>
				<td><%=render 'item_stat',:@item=>@item_build.belt%></td>
				<td><%=@item_build.belt.try(:item_set).try(:name)%></td>
				<td><%=link_to "删除",remove_item_item_build_path(@item_build,:part=>:belt)%></td>
				
			</tr>
			<tr>
				<td>脚部</td>
				<td><%=image_tag(@item_build.foot.try(:icon))%>
				</td>
				<td><%=link_to @item_build.foot.try(:name),@item_build.foot if @item_build.foot%></td>
				<td><%=@item_build.foot.try(:level)%></td>
				<td><%=render 'item_stat',:@item=>@item_build.foot%></td>
				<td><%=@item_build.foot.try(:item_set).try(:name)%></td>
				<td><%=link_to "删除",remove_item_item_build_path(@item_build,:part=>:foot)%></td>
				
			</tr>
			<tr>
				<td>披风</td>
				<td><%=image_tag(@item_build.cloak.try(:icon))%>
				</td>
				<td><%=link_to @item_build.cloak.try(:name),@item_build.cloak if @item_build.cloak%></td>
				<td><%=@item_build.cloak.try(:level)%></td>
				<td><%=render 'item_stat',:@item=>@item_build.cloak%></td>
				<td><%=@item_build.cloak.try(:item_set).try(:name)%></td>
				<td><%=link_to "删除",remove_item_item_build_path(@item_build,:part=>:cloak)%></td>
				
			</tr>
			<tr>
				<td>左手戒指</td>
				<td><%=image_tag(@item_build.left_ring.try(:icon))%>
				</td>
				<td><%=link_to @item_build.left_ring.try(:name),@item_build.left_ring if @item_build.left_ring%></td>
				<td><%=@item_build.left_ring.try(:level)%></td>
				<td><%=render 'item_stat',:@item=>@item_build.left_ring%></td>
				<td><%=@item_build.left_ring.try(:item_set).try(:name)%></td>
				<td><%=link_to "删除",remove_item_item_build_path(@item_build,:part=>:left_ring)%></td>
				
			</tr>
			<tr>
				<td>右手戒指</td>
				<td><%=image_tag(@item_build.right_ring.try(:icon))%>
				</td>
				<td><%=link_to @item_build.right_ring.try(:name),@item_build.right_ring if @item_build.right_ring%></td>
				<td><%=@item_build.right_ring.try(:level)%></td>
				<td><%=render 'item_stat',:@item=>@item_build.right_ring%></td>
				<td><%=@item_build.right_ring.try(:item_set).try(:name)%></td>
				<td><%=link_to "删除",remove_item_item_build_path(@item_build,:part=>:right_ring)%></td>
				
			</tr>
			<tr>
				<td>左手武器</td>
				<td><%=image_tag(@item_build.left_hand.try(:icon))%>
				</td>
				<td><%=link_to @item_build.left_hand.try(:name),@item_build.left_hand if @item_build.left_hand%></td>
				<td><%=@item_build.left_hand.try(:level)%></td>
				<td><%=render 'item_stat',:@item=>@item_build.left_hand%></td>
				<td><%=@item_build.left_hand.try(:item_set).try(:name)%></td>
				<td><%=link_to "删除",remove_item_item_build_path(@item_build,:part=>:left_hand)%></td>
				
			</tr>
			<tr>
				<td>右手武器</td>
				<td><%=image_tag(@item_build.right_hand.try(:icon))%>
				</td>
				<td><%=link_to @item_build.right_hand.try(:name),@item_build.right_hand if @item_build.right_hand%></td>
				<td><%=@item_build.right_hand.try(:level)%></td>
				<td><%=render 'item_stat',:@item=>@item_build.right_hand%></td>
				<td><%=@item_build.right_hand.try(:item_set).try(:name)%></td>
				<td><%=link_to "删除",remove_item_item_build_path(@item_build,:part=>:right_hand)%></td>
				
			</tr>
		</table>
	</div>
	
	<div class="span4 offset1">
	
		<div class="row">
			<h3>奖励属性</h3>
			<div class="well">
			<%@item_build.item_set_details.each do |bonus_detail|%> 
				<h4><%=bonus_detail.item_set.chinese_name%>-<%= bonus_detail.piece%>件</h4>
				<%=render 'item_set_bonus',:item_detail=>bonus_detail%>
			<%end%>
			</div>
		</div>
		
		<div class="row well">
			<h3>装备属性(奖励后)</h3>
			<%=render 'item_set_bonus',:item_detail=>@item_build%>
		</div>
		<div class="well">
		<%=simple_form_for(@item_build ) do |f|%>
		<legend>共享你的配装<legend>
			 <div class="control-group">
			    <label class="control-label" for="name">配装的名字</label>
			    <div class="controls">
						<%=f.input :name,:label=>false%>
					</div>
				</div>
				<div class="control-group">
			    <label class="control-label" for="inputEmail">您的称呼</label>
			    <div class="controls">
						<%=f.input :author,:label=>false%>
					</div>
				</div>
				<div class="control-group">
			    <label class="control-label" for="inputEmail">简单的介绍</label>
			    <div class="controls">
						<%=f.input :content,:rows=>5,:as=>:text,:label=>false%>
					</div>
				</div>


			<%=f.submit "发布",:class=>"btn btn-primary"%>
		<%end%>
		</div>
	</div>
</div>
