<div class='row'>

	<div class="span6">
		<table class="table">
			<tr>
				<td>部位</td>
				<td>图片</td>
				<td>名称</td>
				<td>等级</td>
				<td>属性</td>
				<td>套装</td>
				<td></td>
				
			</tr>
			<tr>
				<td>头部</td>
				<td><%=image_tag(@item_build.header.try(:icon))%>
				</td>
				<td><%=link_to @item_build.header.try(:name),@item_build.header if @item_build.header%></td>
				<td><%=@item_build.header.try(:level)%></td>
				<td><%=render 'item_stat',:@item=>@item_build.header%></td>
				<td><%=@item_build.header.try(:item_set).try(:name)%></td>
				<%if @item_build.header%>
				<td><%=link_to "删除",remove_item_item_build_path(@item_build,:part=>:header)%></td>
				<%else%>
				<td><%=link_to "添加",items_path(:item_type=>"头盔")%></td>
				<%end%>
			</tr>
			<tr>
				<td>颈部</td>
				<td><%=image_tag(@item_build.neck.try(:icon))%>
				</td>
				<td><%=link_to @item_build.neck.try(:name),@item_build.neck if @item_build.neck%></td>
				<td><%=@item_build.neck.try(:level)%></td>
				<td><%=render 'item_stat',:@item=>@item_build.neck%></td>
				<td><%=@item_build.neck.try(:item_set).try(:name)%></td>
				<%if @item_build.neck%>
				<td><%=link_to "删除",remove_item_item_build_path(@item_build,:part=>:neck)%></td>
				<%else%>
				<td><%=link_to "添加",items_path(:item_type=>"项链")%></td>
				<%end%>
				
			</tr>
			<tr>
				<td>肩膀</td>
				<td><%=image_tag(@item_build.shoulder.try(:icon))%>
				</td>
				<td><%=link_to @item_build.shoulder.try(:name),@item_build.shoulder if @item_build.shoulder%></td>
				<td><%=@item_build.shoulder.try(:level)%></td>
				<td><%=render 'item_stat',:@item=>@item_build.shoulder%></td>
				<td><%=@item_build.shoulder.try(:item_set).try(:name)%></td>
				<%if @item_build.shoulder%>
				<td><%=link_to "删除",remove_item_item_build_path(@item_build,:part=>:shoulder)%></td>
				<%else%>
				<td><%=link_to "添加",items_path(:item_type=>"肩甲")%></td>
				<%end%>
				
			</tr>
			<tr>
				<td>胸部</td>
				<td><%=image_tag(@item_build.body.try(:icon))%>
				</td>
				<td><%=link_to @item_build.body.try(:name),@item_build.body if @item_build.body %></td>
				<td><%=@item_build.body.try(:level)%></td>
				<td><%=render 'item_stat',:@item=>@item_build.body%></td>
				<td><%=@item_build.body.try(:item_set).try(:name)%></td>
				<%if @item_build.body%>
				<td><%=link_to "删除",remove_item_item_build_path(@item_build,:part=>:body)%></td>
				<%else%>
				<td><%=link_to "添加",items_path(:item_type=>"胸甲")%></td>
				<%end%>
				
			</tr>
			<tr>
				<td>腰带</td>
				<td><%=image_tag(@item_build.belt.try(:icon))%>
				</td>
				<td><%=link_to @item_build.belt.try(:name),@item_build.belt if @item_build.belt%></td>
				<td><%=@item_build.belt.try(:level)%></td>
				<td><%=render 'item_stat',:@item=>@item_build.belt%></td>
				<td><%=@item_build.belt.try(:item_set).try(:name)%></td>
				<%if @item_build.belt%>
				<td><%=link_to "删除",remove_item_item_build_path(@item_build,:part=>:belt)%></td>
				<%else%>
				<td><%=link_to "添加",items_path(:item_type=>"腰带")%></td>
				<%end%>
				
			</tr>
			<tr>
				<td>脚部</td>
				<td><%=image_tag(@item_build.foot.try(:icon))%>
				</td>
				<td><%=link_to @item_build.foot.try(:name),@item_build.foot if @item_build.foot%></td>
				<td><%=@item_build.foot.try(:level)%></td>
				<td><%=render 'item_stat',:@item=>@item_build.foot%></td>
				<td><%=@item_build.foot.try(:item_set).try(:name)%></td>
				<%if @item_build.foot%>
				<td><%=link_to "删除",remove_item_item_build_path(@item_build,:part=>:foot)%></td>
				<%else%>
				<td><%=link_to "添加",items_path(:item_type=>"靴子")%></td>
				<%end%>
				
			</tr>
			<tr>
				<td>披风</td>
				<td><%=image_tag(@item_build.cloak.try(:icon))%>
				</td>
				<td><%=link_to @item_build.cloak.try(:name),@item_build.cloak if @item_build.cloak%></td>
				<td><%=@item_build.cloak.try(:level)%></td>
				<td><%=render 'item_stat',:@item=>@item_build.cloak%></td>
				<td><%=@item_build.cloak.try(:item_set).try(:name)%></td>
				<%if @item_build.cloak%>
				<td><%=link_to "删除",remove_item_item_build_path(@item_build,:part=>:cloak)%></td>
				<%else%>
				<td><%=link_to "添加",items_path(:item_type=>"披风")%></td>
				<%end%>
				
			</tr>
			<tr>
				<td>左手戒指</td>
				<td><%=image_tag(@item_build.left_ring.try(:icon))%>
				</td>
				<td><%=link_to @item_build.left_ring.try(:name),@item_build.left_ring if @item_build.left_ring%></td>
				<td><%=@item_build.left_ring.try(:level)%></td>
				<td><%=render 'item_stat',:@item=>@item_build.left_ring%></td>
				<td><%=@item_build.left_ring.try(:item_set).try(:name)%></td>
				<%if @item_build.left_ring%>

				<td><%=link_to "删除",remove_item_item_build_path(@item_build,:part=>:left_ring)%></td>
				<%else%>
				<td><%=link_to "添加",items_path(:item_type=>"戒指")%></td>
				<%end%>
			</tr>
			<tr>
				<td>右手戒指</td>
				<td><%=image_tag(@item_build.right_ring.try(:icon))%>
				</td>
				<td><%=link_to @item_build.right_ring.try(:name),@item_build.right_ring if @item_build.right_ring%></td>
				<td><%=@item_build.right_ring.try(:level)%></td>
				<td><%=render 'item_stat',:@item=>@item_build.right_ring%></td>
				<td><%=@item_build.right_ring.try(:item_set).try(:name)%></td>
				<%if @item_build.right_ring%>
				
				<td><%=link_to "删除",remove_item_item_build_path(@item_build,:part=>:right_ring)%></td>
				<%else%>
				<td><%=link_to "添加",items_path(:item_type=>"戒指")%></td>
				<%end%>
				
			</tr>
			<tr>
				<td>左手武器</td>
				<td><%=image_tag(@item_build.left_hand.try(:icon))%>
				</td>
				<td><%=link_to @item_build.left_hand.try(:name),@item_build.left_hand if @item_build.left_hand%></td>
				<td><%=@item_build.left_hand.try(:level)%></td>
				<td><%=render 'item_stat',:@item=>@item_build.left_hand%></td>
				<td><%=@item_build.left_hand.try(:item_set).try(:name)%></td>
				<%if @item_build.left_hand%>
				<td><%=link_to "删除",remove_item_item_build_path(@item_build,:part=>:left_hand)%></td>
				<%else%>
				<td><%=link_to "添加",items_path(:hand=>"副手武器")%></td>
				<%end%>
				
			</tr>
			<tr>
				<td>右手武器</td>
				<td><%=image_tag(@item_build.right_hand.try(:icon))%>
				</td>
				<td><%=link_to @item_build.right_hand.try(:name),@item_build.right_hand if @item_build.right_hand%></td>
				<td><%=@item_build.right_hand.try(:level)%></td>
				<td><%=render 'item_stat',:@item=>@item_build.right_hand%></td>
				<td><%=@item_build.right_hand.try(:item_set).try(:name)%></td>
				<%if @item_build.right_hand%>
				<td><%=link_to "删除",remove_item_item_build_path(@item_build,:part=>:right_hand)%></td>
				<%else%>
				<td><%=link_to "添加",items_path(:hand=>"主手武器")%></td>
				<%end%>
			</tr>
		</table>
	</div>
	
	<div class="span4 offset1">
	
		<div class="row">
			<h3>奖励属性</h3>
			<div class="well">
			<%@item_build.item_set_details.each do |bonus_detail|%> 
				<h4><%=bonus_detail.item_set.chinese_name%>-<%= bonus_detail.piece%>件</h4>
				<%=render 'item_set_bonus',:item_detail=>bonus_detail%>
			<%end%>
			</div>
		</div>
		
		<div class="row well">
			<h3>装备属性(奖励后)</h3>
			<%=render 'item_set_bonus',:item_detail=>@item_build%>
		</div>
		<div class="well">
			<%=link_to "分享配装列表", new_build_share_path(:build_id=>@item_build),:class=>"btn btn-info btn-block"%>
		</div>
	</div>
</div>
