<div class="row span10 offset1">

	<h2><%=@item_build.name%> <small>作者:<%=@item_build.author%> @<%=@item_build.updated_at%></h2>
	<pre>简介:<%= @item_build.content.try(:html_safe)%></pre>
		
</div>
<div class='row'>

	<div class="span6">
		<table class="table">
			<tr>
				<td>部位</td>
				<td>图片</td>
				<td>名称</td>
				<td>等级</td>
				<td>属性</td>
				<td>套装</td>
				
			</tr>
			<tr>
				<td>头部</td>
				<td><%=image_tag(@item_build.header.try(:icon))%>
				</td>
				<td><%=link_to @item_build.header.try(:name),@item_build.header,:class=>@item_build.header.quanlity if @item_build.header%></td>
				<td><%=@item_build.header.try(:level)%></td>
				<td><%=render 'item_stat',:@item=>@item_build.header%></td>
				<td><%=@item_build.header.try(:item_set).try(:name)%></td>
				
			</tr>
			<tr>
				<td>颈部</td>
				<td><%=image_tag(@item_build.neck.try(:icon))%>
				</td>
				<td><%=link_to @item_build.neck.try(:name),@item_build.neck,:class=>@item_build.neck.quanlity if @item_build.neck%></td>
				<td><%=@item_build.neck.try(:level)%></td>
				<td><%=render 'item_stat',:@item=>@item_build.neck%></td>
				<td><%=@item_build.neck.try(:item_set).try(:name)%></td>
				
			</tr>
			<tr>
				<td>肩膀</td>
				<td><%=image_tag(@item_build.shoulder.try(:icon))%>
				</td>
				<td><%=link_to @item_build.shoulder.try(:name),@item_build.shoulder,:class=>@item_build.shoulder.quanlity if @item_build.shoulder%></td>
				<td><%=@item_build.shoulder.try(:level)%></td>
				<td><%=render 'item_stat',:@item=>@item_build.shoulder%></td>
				<td><%=@item_build.shoulder.try(:item_set).try(:name)%></td>
				
			</tr>
			<tr>
				<td>胸部</td>
				<td><%=image_tag(@item_build.body.try(:icon))%>
				</td>
				<td><%=link_to @item_build.body.try(:name),@item_build.body,:class=>@item_build.body.quanlity if @item_build.body %></td>
				<td><%=@item_build.body.try(:level)%></td>
				<td><%=render 'item_stat',:@item=>@item_build.body%></td>
				<td><%=@item_build.body.try(:item_set).try(:name)%></td>
				
			</tr>
			<tr>
				<td>腰带</td>
				<td><%=image_tag(@item_build.belt.try(:icon))%>
				</td>
				<td><%=link_to @item_build.belt.try(:name),@item_build.belt,:class=>@item_build.belt.quanlity if @item_build.belt%></td>
				<td><%=@item_build.belt.try(:level)%></td>
				<td><%=render 'item_stat',:@item=>@item_build.belt%></td>
				<td><%=@item_build.belt.try(:item_set).try(:name)%></td>
				
			</tr>
			<tr>
				<td>脚部</td>
				<td><%=image_tag(@item_build.foot.try(:icon))%>
				</td>
				<td><%=link_to @item_build.foot.try(:name),@item_build.foot,:class=>@item_build.foot.quanlity if @item_build.foot%></td>
				<td><%=@item_build.foot.try(:level)%></td>
				<td><%=render 'item_stat',:@item=>@item_build.foot%></td>
				<td><%=@item_build.foot.try(:item_set).try(:name)%></td>
				
			</tr>
			<tr>
				<td>披风</td>
				<td><%=image_tag(@item_build.cloak.try(:icon))%>
				</td>
				<td><%=link_to @item_build.cloak.try(:name),@item_build.cloak,:class=>@item_build.cloak.quanlity if @item_build.cloak%></td>
				<td><%=@item_build.cloak.try(:level)%></td>
				<td><%=render 'item_stat',:@item=>@item_build.cloak%></td>
				<td><%=@item_build.cloak.try(:item_set).try(:name)%></td>
				
			</tr>
			<tr>
				<td>左手戒指</td>
				<td><%=image_tag(@item_build.left_ring.try(:icon))%>
				</td>
				<td><%=link_to @item_build.left_ring.try(:name),@item_build.left_ring,:class=>@item_build.left_ring.quanlity if @item_build.left_ring%></td>
				<td><%=@item_build.left_ring.try(:level)%></td>
				<td><%=render 'item_stat',:@item=>@item_build.left_ring%></td>
				<td><%=@item_build.left_ring.try(:item_set).try(:name)%></td>
				
			</tr>
			<tr>
				<td>右手戒指</td>
				<td><%=image_tag(@item_build.right_ring.try(:icon))%>
				</td>
				<td><%=link_to @item_build.right_ring.try(:name),@item_build.right_ring,:class=>@item_build.right_ring.quanlity if @item_build.right_ring%></td>
				<td><%=@item_build.right_ring.try(:level)%></td>
				<td><%=render 'item_stat',:@item=>@item_build.right_ring%></td>
				<td><%=@item_build.right_ring.try(:item_set).try(:name)%></td>
				
			</tr>
			<tr>
				<td>左手武器</td>
				<td><%=image_tag(@item_build.left_hand.try(:icon))%>
				</td>
				<td><%=link_to @item_build.left_hand.try(:name),@item_build.left_hand,:class=>@item_build.left_hand.quanlity if @item_build.left_hand%></td>
				<td><%=@item_build.left_hand.try(:level)%></td>
				<td><%=render 'item_stat',:@item=>@item_build.left_hand%></td>
				<td><%=@item_build.left_hand.try(:item_set).try(:name)%></td>
				
			</tr>
			<tr>
				<td>右手武器</td>
				<td><%=image_tag(@item_build.right_hand.try(:icon))%>
				</td>
				<td><%=link_to @item_build.right_hand.try(:name),@item_build.right_hand,:class=>@item_build.right_hand.quanlity if @item_build.right_hand%></td>
				<td><%=@item_build.right_hand.try(:level)%></td>
				<td><%=render 'item_stat',:@item=>@item_build.right_hand%></td>
				<td><%=@item_build.right_hand.try(:item_set).try(:name)%></td>
				
			</tr>
		</table>
	</div>
	
	<div class="span4 offset1">
	
		<div class="row">
			<h3>奖励属性</h3>
			<div class="well">
			<%@item_build.item_set_details.each do |bonus_detail|%> 
				<h4><%=bonus_detail.item_set.chinese_name%>-<%= bonus_detail.piece%>件</h4>
				<%=render 'item_set_bonus',:item_detail=>bonus_detail%>
			<%end%>
			</div>
		</div>
		
		<div class="row">
			<h3>装备属性(奖励后)</h3>
			<%=render 'item_set_bonus',:item_detail=>@item_build%>
		</div>
	</div>
</div>
<div class="row">
	<div id="uyan_frame"></div>
	<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=1904534"></script>	
</div>

