<div class='row-fluid'>

	<div class="span6">
	<%=render 'item_grid'%>
	</div>
	
	<div class="span5 offset1">
	
		<div class="row">
			<h3>奖励属性</h3>
			<%=render "set_bonus",:stats=>@item_set.item_set_stats_1%>
			<%=render "set_bonus",:stats=>@item_set.item_set_stats_2%>
			<%=render "set_bonus",:stats=>@item_set.item_set_stats_3%>			
			<%=render "set_bonus",:stats=>@item_set.item_set_stats_4%>
			<%=render "set_bonus",:stats=>@item_set.item_set_stats_5%>
			<%=render "set_bonus",:stats=>@item_set.item_set_stats_6%>
			<%=render "set_bonus",:stats=>@item_set.item_set_stats_7%>
			<%=render "set_bonus",:stats=>@item_set.item_set_stats_8%>
			
		</div>
		
		<div class="row">
			<h3>装备属性</h3>
			<div class="well">
			 整理资料中	
			</div>
		</div>
	</div>
</div>
