<!DOCTYPE html>
<html>
<head>
  <title>iWakfu</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render "shared/nav_head"%>
	<div class="container">
		<%= yield %>
	</div>
	
	
	<div style="display:none;">
		<script src="http://s5.cnzz.com/z_stat.php?id=1000297023&web_id=1000297023" language="JavaScript"></script>
	</div>
</body>
</html>
	
	