<!DOCTYPE html>
<html>
<head>
  <title>iWakfu</title>

  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <meta name="keywords" content="沃土,wakfu,沃土攻略，沃土中文" />
  <meta name="description" content="沃土,wakfu,沃土中文资讯,沃土攻略" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => false %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
  <%= csrf_meta_tags %>
  <meta name="baidu_union_verify" content="486841cc7d223e0de52fe6859799d399">
</head>
<body>

	<%= render "shared/nav_head"%>
	

	<div class="container">
		<%= yield %>
	</div>
  <div id="footer">
    <div class="container">
      <p class="muted credit">游戏《沃土》是由 <a href="http://speedybird.com/">上海迅鸟网络科技有限公司 </a> 运营的一款多人在线游戏 ,更多信息可以在<a href="http://tieba.baidu.com/f?kw=%CE%D6%CD%C1/">百度沃土贴吧</a>了解</p>
    </div>
  </div>
	<div style="display:none;">
		<script src="http://s5.cnzz.com/z_stat.php?id=1000297023&web_id=1000297023" language="JavaScript"></script>
	</div>
	
</body>
</html>
	
	