<!DOCTYPE html>
<html <%= yield :ng_app%> >
<head>
	<%= display_meta_tags :site => '爱沃土中文数据库' %>
	
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<html lang="zh">
  
	
  <meta name="keywords" content="Wakfu,数据库,十二世界,沃土,沃土OL,沃土家园,沃土官方,沃土激活码,沃土吧,沃土加点,沃土论坛,沃土工坊,沃土职业,沃土宠物,沃土国家,沃土游戏
	" />
  <meta name="description" content="沃土,wakfu,沃土中文资讯,沃土攻略" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="baidu_union_verify" content="eba127ae2883cd84f33bc7c9db97591b">

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => false %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
  <%= csrf_meta_tags %>
</head>
<body ng-controller="<%= yield :ng_controller%>">

	<%= render "shared/nav_head"%>
	
	<!-- 广告位：横幅-->
	<div class="container">
		<div class="row">
			<div class="pull-right">
				<script type="text/javascript"><!--
				google_ad_client = "ca-pub-8585667998434575";
				/* large banner */
				google_ad_slot = "9114484800";
				google_ad_width = 728;
				google_ad_height = 90;
				//-->
				</script>
				<script type="text/javascript"
				src="//pagead2.googlesyndication.com/pagead/show_ads.js">
				</script>
			</div>
		</div>
		
		
		<%if notice%>
		<div class="alert alert-info fade in">
			<a class="close" data-dismiss='alert' href="#">x</a>
			<p id="notice"><%= notice %></p>
		</div>
		<%end%>
		<%if alert%>
		<div class="alert alert-block alert-error">
			<a class="close" data-dismiss='alert' href="#">x</a>
			<p id="notice"><%= alert %></p>
		</div>
		<%end%>
		<%= yield %>
	</div>
  <div id="footer">
    <div class="container">
      <p class="muted credit">游戏《沃土》是由 <a href="http://speedybird.com/">上海迅鸟网络科技有限公司</a> 运营的一款多人在线游戏<br/>更多信息可以在<a href="http://tieba.baidu.com/f?kw=%CE%D6%CD%C1/">百度沃土贴吧</a> | <a href="http://bbs.ngacn.cc/thread.php?fid=-532408">NGA沃土</a> |  <a href="http://www.wikfu.cn/">Wikfu沃土中文维基</a>了解</p>
    </div>
  </div>
	<div style="display:none;">
		<script src="http://s5.cnzz.com/z_stat.php?id=1000297023&web_id=1000297023" language="JavaScript"></script>
	</div>
	
</body>
</html>
	
	